:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #c9f0f5;
    --text-color: #333333;
}

html {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

* , *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}