<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:type="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <h1>Agregar Nueva Habilidad</h1>
<!--    Usamos @ para trabajar con rutas y $ para mandar objetos-->
        <form th:action = "@{/skills/add}" th:object="${skill}" method="post">
        <label th:for="nombre">Nombre</label>
<!--        para acceder a los atributos del objeto es thfield y con *{}-->
        <input type="text" th:field="*{name}">

            <label th:for="level">Nivel</label>
        <input type="text" th:field="*{level}">

        <button type="submit">Guardar</button>
    </form>
</body>
</html>