<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Nuestro CV</h1>
    <p th:text="'hola, ' + ${name} + ' ! '"></p>
    <p>Datos de la Persona: </p>
    <p th:text="${persona.firstName}"></p>
    <p th:text="${persona.lastName}"></p>
    <p th:text="${persona.job}"></p>
    <p th:if="${persona.firstName.length > 5}"style="color: green;">Tienes un nombre largo</p>
</body>
</html>