<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>


<body>
<h1>Nuestras Habilidades</h1>
    <p th:if="${skills.isEmpty()}">No se encuentran Habilidades</p>

    <ul th:if="${!skills.isEmpty()}">
        <!-- 'hab' es la variable temporal que representa cada elemento de la lista 'habilidades' -->
        <!--  stat es el objeto de iteracion thymleaf-->
        <li th:each="skill , stat : ${skills}" >

            <span th:text="'Habilidad: ' + ${skill.name} + ' Nivel: ' + ${skill.level}"></span>
            <a th:href="@{'/skills/id/' + ${stat.index}}">Ver detalle</a>
            <span th:text="${stat.count}"></span>
            <span th:text="${stat.size}"></span>
            <span th:if="${stat.first}">-Primera-</span>
            <span th:if="${stat.last}">-Ultima-</span>
            <span th:if="${stat.even}">-Par-</span>
            <span th:if="${stat.odd}">-Impar-</span>
            </span>
        </li>
    </ul>
<!--manda el anuncio del filtro si no se encontro la busqueda-->
    <p th:if="${filterMessage}" th:text="${filterMessage}"></p>

<!--    th:each para iterar sobre la lista y generar los elementos automáticamente:-->

<!--    vamos hacer @RequestParam usando un form de tipo get para traer los valores filtrados-->
<!--    si tenememos methot get el meotodo tiene que ser de tipo get siempre tambien pasa con el method Post-->
    <form action="/skills" method="get">
        <label th:for="nombre">Buscar</label>
<!--        tramos el parametro filter de nuestro controller-->
         <input type="text" th:value="${filter}" name="filter">
        <button type="submit">Buscar</button>
    </form>

</body>
</html>