<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Nuestras Habilidades</h1>
    <p th:if="${skills.isEmpty()}">La Lista esta vacia</p>

    <ul th:if="${!skills.isEmpty()}">
        <!-- 'hab' es la variable temporal que representa cada elemento de la lista 'habilidades' -->
        <li th:each="skill : ${skills}" th:text="'Habilidad: ' + ${skill.name} + ' Nivel: ' + ${skill.level}">Skill</li>
    </ul>
<!--    th:each para iterar sobre la lista y generar los elementos automáticamente:-->

<!--    vamos hacer @RequestParam usando un form de tipo get para traer los valores filtrados-->
<!--    si tenememos methot get el meotodo tiene que ser de tipo get siempre tambien pasa con el method Post-->
    <form action="/skills" method="get">
        <label th:for="nombre">Buscar</label>
<!--        tramos el parametro filter de nuestro controller-->
         <input type="text" th:value="${filter}" name="filter">
        <button type="submit">Buscar</button>
    </form>

</body>
</html>